In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

C:\Users\Ghazy\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
data = pd.read_csv(r'E:\Self study\Data\candyhierarchy2017.csv' , encoding='latin-1') 
pd.set_option('display.max_rows',None)
data.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [3]:
data.info(verbose= True  , null_counts =  True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Data columns (total 120 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   Internal ID                                                                            2460 non-null   int64
 1   Q1: GOING OUT?                                                                         2350 non-null   object
 2   Q2: GENDER                                                                             2419 non-null   object
 3   Q3: AGE                                                                                2376 non-null   object
 4   Q4: COUNTRY                                                                            2396 non-null   object
 5   Q5: STATE, PROVINCE, COUNTY, ETC                                                       2360 non-null   object
 6   Q6 | 100 Grand Bar                                                                     1713 non-null   object
 7   Q6 | Anonymous brown globs that come in black and orange wrappers	(a.k.a. Mary Janes)  1726 non-null   object
 8   Q6 | Any full-sized candy bar                                                          1788 non-null   object
 9   Q6 | Black Jacks                                                                       1502 non-null   object
 10  Q6 | Bonkers (the candy)                                                               1468 non-null   object
 11  Q6 | Bonkers (the board game)                                                          1454 non-null   object
 12  Q6 | Bottle Caps                                                                       1695 non-null   object
 13  Q6 | Box'o'Raisins                                                                     1772 non-null   object
 14  Q6 | Broken glow stick                                                                 1754 non-null   object
 15  Q6 | Butterfinger                                                                      1778 non-null   object
 16  Q6 | Cadbury Creme Eggs                                                                1777 non-null   object
 17  Q6 | Candy Corn                                                                        1782 non-null   object
 18  Q6 | Candy that is clearly just the stuff given out for free at restaurants            1769 non-null   object
 19  Q6 | Caramellos                                                                        1708 non-null   object
 20  Q6 | Cash, or other forms of legal tender                                              1780 non-null   object
 21  Q6 | Chardonnay                                                                        1717 non-null   object
 22  Q6 | Chick-o-Sticks (we donÃ•t know what that is)                                       1514 non-null   object
 23  Q6 | Chiclets                                                                          1749 non-null   object
 24  Q6 | Coffee Crisp                                                                      1607 non-null   object
 25  Q6 | Creepy Religious comics/Chick Tracts                                              1756 non-null   object
 26  Q6 | Dental paraphenalia                                                               1768 non-null   object
 27  Q6 | Dots                                                                              1731 non-null   object
 28  Q6 | Dove Bars                                                                         1758 non-null   object
 29  Q6 | Fuzzy Peaches                                                                     1637 non-null   object
 30  Q6 | Generic Brand Acetaminophen                                                       1729 non-null   object
 31  Q6 | Glow sticks                                                                       1763 non-null   object
 32  Q6 | Goo Goo Clusters                                                                  1581 non-null   object
 33  Q6 | Good N' Plenty                                                                    1726 non-null   object
 34  Q6 | Gum from baseball cards                                                           1744 non-null   object
 35  Q6 | Gummy Bears straight up                                                           1763 non-null   object
 36  Q6 | Hard Candy                                                                        1765 non-null   object
 37  Q6 | Healthy Fruit                                                                     1766 non-null   object
 38  Q6 | Heath Bar                                                                         1748 non-null   object
 39  Q6 | Hershey's Dark Chocolate                                                          1787 non-null   object
 40  Q6 | HersheyÃ•s Milk Chocolate                                                          1788 non-null   object
 41  Q6 | Hershey's Kisses                                                                  1782 non-null   object
 42  Q6 | Hugs (actual physical hugs)                                                       1747 non-null   object
 43  Q6 | Jolly Rancher (bad flavor)                                                        1766 non-null   object
 44  Q6 | Jolly Ranchers (good flavor)                                                      1765 non-null   object
 45  Q6 | JoyJoy (Mit Iodine!)                                                              1434 non-null   object
 46  Q6 | Junior Mints                                                                      1762 non-null   object
 47  Q6 | Senior Mints                                                                      1518 non-null   object
 48  Q6 | Kale smoothie                                                                     1716 non-null   object
 49  Q6 | Kinder Happy Hippo                                                                1515 non-null   object
 50  Q6 | Kit Kat                                                                           1786 non-null   object
 51  Q6 | LaffyTaffy                                                                        1724 non-null   object
 52  Q6 | LemonHeads                                                                        1730 non-null   object
 53  Q6 | Licorice (not black)                                                              1774 non-null   object
 54  Q6 | Licorice (yes black)                                                              1775 non-null   object
 55  Q6 | Lindt Truffle                                                                     1742 non-null   object
 56  Q6 | Lollipops                                                                         1769 non-null   object
 57  Q6 | Mars                                                                              1735 non-null   object
 58  Q6 | Maynards                                                                          1436 non-null   object
 59  Q6 | Mike and Ike                                                                      1731 non-null   object
 60  Q6 | Milk Duds                                                                         1767 non-null   object
 61  Q6 | Milky Way                                                                         1772 non-null   object
 62  Q6 | Regular M&Ms                                                                      1785 non-null   object
 63  Q6 | Peanut M&MÃ•s                                                                      1789 non-null   object
 64  Q6 | Blue M&M's                                                                        1733 non-null   object
 65  Q6 | Red M&M's                                                                         1731 non-null   object
 66  Q6 | Green Party M&M's                                                                 1696 non-null   object
 67  Q6 | Independent M&M's                                                                 1647 non-null   object
 68  Q6 | Abstained from M&M'ing.                                                           1518 non-null   object
 69  Q6 | Minibags of chips                                                                 1736 non-null   object
 70  Q6 | Mint Kisses                                                                       1684 non-null   object
 71  Q6 | Mint Juleps                                                                       1649 non-null   object
 72  Q6 | Mr. Goodbar                                                                       1720 non-null   object
 73  Q6 | Necco Wafers                                                                      1716 non-null   object
 74  Q6 | Nerds                                                                             1737 non-null   object
 75  Q6 | Nestle Crunch                                                                     1762 non-null   object
 76  Q6 | Now'n'Laters                                                                      1643 non-null   object
 77  Q6 | Peeps                                                                             1750 non-null   object
 78  Q6 | Pencils                                                                           1751 non-null   object
 79  Q6 | Pixy Stix                                                                         1738 non-null   object
 80  Q6 | Real Housewives of Orange County Season 9 Blue-Ray                                1707 non-null   object
 81  Q6 | ReeseÃ•s Peanut Butter Cups                                                        1781 non-null   object
 82  Q6 | Reese's Pieces                                                                    1769 non-null   object
 83  Q6 | Reggie Jackson Bar                                                                1446 non-null   object
 84  Q6 | Rolos                                                                             1746 non-null   object
 85  Q6 | Sandwich-sized bags filled with BooBerry Crunch                                   1684 non-null   object
 86  Q6 | Skittles                                                                          1754 non-null   object
 87  Q6 | Smarties (American)                                                               1735 non-null   object
 88  Q6 | Smarties (Commonwealth)                                                           1559 non-null   object
 89  Q6 | Snickers                                                                          1770 non-null   object
 90  Q6 | Sourpatch Kids (i.e. abominations of nature)                                      1722 non-null   object
 91  Q6 | Spotted Dick                                                                      1578 non-null   object
 92  Q6 | Starburst                                                                         1767 non-null   object
 93  Q6 | Sweet Tarts                                                                       1752 non-null   object
 94  Q6 | Swedish Fish                                                                      1745 non-null   object
 95  Q6 | Sweetums (a friend to diabetes)                                                   1458 non-null   object
 96  Q6 | Take 5                                                                            1543 non-null   object
 97  Q6 | Tic Tacs                                                                          1746 non-null   object
 98  Q6 | Those odd marshmallow circus peanut things                                        1724 non-null   object
 99  Q6 | Three Musketeers                                                                  1752 non-null   object
 100 Q6 | Tolberone something or other                                                      1754 non-null   object
 101 Q6 | Trail Mix                                                                         1752 non-null   object
 102 Q6 | Twix                                                                              1770 non-null   object
 103 Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein            1668 non-null   object
 104 Q6 | Vicodin                                                                           1671 non-null   object
 105 Q6 | Whatchamacallit Bars                                                              1637 non-null   object
 106 Q6 | White Bread                                                                       1703 non-null   object
 107 Q6 | Whole Wheat anything                                                              1713 non-null   object
 108 Q6 | York Peppermint Patties                                                           1755 non-null   object
 109 Q7: JOY OTHER                                                                          911 non-null    object
 110 Q8: DESPAIR OTHER                                                                      717 non-null    object
 111 Q9: OTHER COMMENTS                                                                     386 non-null    object
 112 Q10: DRESS                                                                             1716 non-null   object
 113 Unnamed: 113                                                                           9 non-null      object
 114 Q11: DAY                                                                               1735 non-null   object
 115 Q12: MEDIA [Daily Dish]                                                                85 non-null     float64
 116 Q12: MEDIA [Science]                                                                   1362 non-null   float64
 117 Q12: MEDIA [ESPN]                                                                      99 non-null     float64
 118 Q12: MEDIA [Yahoo]                                                                     67 non-null     float64
 119 Click Coordinates (x, y)                                                               1605 non-null   object
dtypes: float64(4), int64(1), object(115)
memory usage: 2.3+ MB

In [4]:
data.isna().sum().tail(10)

Q8: DESPAIR OTHER           1743
Q9: OTHER COMMENTS          2074
Q10: DRESS                   744
Unnamed: 113                2451
Q11: DAY                     725
Q12: MEDIA [Daily Dish]     2375
Q12: MEDIA [Science]        1098
Q12: MEDIA [ESPN]           2361
Q12: MEDIA [Yahoo]          2393
Click Coordinates (x, y)     855
dtype: int64

In [5]:
col_drops = {"Internal ID" , "Click Coordinates (x, y)","Q12: MEDIA [ESPN]","Q12: MEDIA [Daily Dish]","Unnamed: 113","Q9: OTHER COMMENTS" , "Q8: DESPAIR OTHER","Q7: JOY OTHER" , "Q12: MEDIA [Yahoo]"}
for x in col_drops :
    data.drop(x , axis = 1 , inplace = True)

# GOING OUT

In [6]:
data["Q1: GOING OUT?"].value_counts()

No     2038
Yes     312
Name: Q1: GOING OUT?, dtype: int64

In [7]:
data["Q1: GOING OUT?"].isna().sum()

110

In [8]:
going_out_mode = data["Q1: GOING OUT?"].mode()[0]
data["Q1: GOING OUT?"].fillna(going_out_mode , inplace = True)
data["Q1: GOING OUT?"].value_counts()

No     2148
Yes     312
Name: Q1: GOING OUT?, dtype: int64

# GENDER

In [9]:
data["Q2: GENDER"].value_counts()

Male                  1467
Female                 839
I'd rather not say      83
Other                   30
Name: Q2: GENDER, dtype: int64

In [10]:
data["Q2: GENDER"].isna().sum()

41

In [11]:
data["Q2: GENDER"].fillna("I'd rather not say" , inplace = True)
data["Q2: GENDER"].value_counts()

Male                  1467
Female                 839
I'd rather not say     124
Other                   30
Name: Q2: GENDER, dtype: int64

# Age

In [12]:
data["Q3: AGE"].value_counts()

40                                                  92
34                                                  90
37                                                  89
43                                                  86
42                                                  79
36                                                  79
35                                                  77
44                                                  76
38                                                  76
33                                                  75
45                                                  75
41                                                  74
50                                                  71
39                                                  69
49                                                  69
32                                                  68
48                                                  64
47                                                  63
30                                                  62
53                                                  57
46                                                  55
52                                                  50
56                                                  46
27                                                  45
31                                                  45
51                                                  41
28                                                  37
54                                                  36
58                                                  34
55                                                  32
60                                                  31
29                                                  27
57                                                  25
59                                                  24
26                                                  23
62                                                  20
61                                                  20
63                                                  20
25                                                  19
64                                                  17
24                                                  16
21                                                  14
65                                                  13
20                                                  12
22                                                  11
18                                                  10
66                                                   9
23                                                   9
12                                                   9
68                                                   8
70                                                   8
15                                                   8
11                                                   7
13                                                   6
72                                                   6
71                                                   6
67                                                   6
17                                                   5
69                                                   5
9                                                    4
73                                                   4
16                                                   4
10                                                   3
19                                                   3
75                                                   3
8                                                    2
14                                                   2
100                                                  2
90                                                   2
76                                                   2
7                                                    2
6                                                    2
old                                                  2
Enough                                               1
OLD                                                  1
Many                                                 1
99                                                   1
no                                                   1
1                                                    1
See question 2                                       1
ancient                                              1
1000                                                 1
46 Halloweens.                                       1
70 1/2                                               1
MY NAME JEFF                                         1
59 on the day after Halloween                        1
5u                                                   1
88                                                   1
older than dirt                                      1
sixty-nine                                           1
old enough                                           1
60+                                                  1
24-50                                                1
Over 50                                              1
39.4                                                 1
312                                                  1
102                                                  1
4                                                    1
77                                                   1
your mom                                             1
I can remember when Java was a cool new language     1
74                                                   1
hahahahaha                                           1
?                                                    1
45-55                                                1
Old enough                                           1
Name: Q3: AGE, dtype: int64

In [13]:
data["Q3: AGE"].unique()

array([nan, '44', '49', '40', '23', '53', '33', '43', '56', '64', '37',
       '59', '48', '54', '36', '45', '25', '34', '35', '38', '58', '50',
       '47', '16', '52', '63', '65', '41', '27', '31', '61', '46', '42',
       '62', '29', '39', '32', '28', '69', '67', '30', '22', '26', '51',
       '70', '24', '18', '19', 'Old enough', '57', '60', '66', '12',
       'Many', '55', '72', '?', '21', '11', 'no', '9', '68', '20', '6',
       '10', '71', '90', '13', '45-55', '312', '99', '7', 'hahahahaha',
       '88', '39.4', '74', '102', 'older than dirt', '17', '15', '8',
       '75', '5u', 'Enough', 'See question 2', '24-50', '14', 'Over 50',
       '100', '76', '1000', 'sixty-nine', '46 Halloweens.', 'ancient',
       '77', 'OLD', 'old', '73', '70 1/2', '1', 'MY NAME JEFF', '4',
       '59 on the day after Halloween', 'old enough', 'your mom',
       'I can remember when Java was a cool new language', '60+'],
      dtype=object)

In [14]:
age_drops = {'Old enough','45-55','24-50','?','no','Many','hahahahaha','older than dirt','Enough','See question 2','old','ancient','old enough','5u','46 Halloweens.','sixty-nine','Over 50','OLD','MY NAME JEFF','59 on the day after Halloween','your mom','I can remember when Java was a cool new language', '60+', '1000', '70 1/2', '1', '4','312'}
for x in age_drops:
    data['Q3: AGE'].replace(x , np.nan,inplace=True)

In [15]:
age_median = data['Q3: AGE'].median()
data['Q3: AGE'].fillna(age_median , inplace = True)

In [16]:
data["Q3: AGE"].unique()

array([41.0, '44', '49', '40', '23', '53', '33', '43', '56', '64', '37',
       '59', '48', '54', '36', '45', '25', '34', '35', '38', '58', '50',
       '47', '16', '52', '63', '65', '41', '27', '31', '61', '46', '42',
       '62', '29', '39', '32', '28', '69', '67', '30', '22', '26', '51',
       '70', '24', '18', '19', '57', '60', '66', '12', '55', '72', '21',
       '11', '9', '68', '20', '6', '10', '71', '90', '13', '99', '7',
       '88', '39.4', '74', '102', '17', '15', '8', '75', '14', '100',
       '76', '77', '73'], dtype=object)

In [17]:
data["Q3: AGE"] = data["Q3: AGE"].astype('float')

# Country

In [18]:
data["Q4: COUNTRY"].unique()

array([nan, 'USA ', 'USA', 'us', 'usa', 'canada', 'Canada', 'Us', 'US',
       'Murica', 'United States', 'uk', 'United Kingdom', 'united states',
       'Usa', 'United States ', 'United staes',
       'United States of America', 'UAE', 'England', 'UK', 'canada ',
       'Mexico', 'United states', 'u.s.a.', 'USAUSAUSA', 'america', '35',
       'france', 'United States of America ', 'U.S.A.', 'finland',
       'unhinged states', 'Canada ', 'united states of america',
       'US of A', 'Unites States', 'The United States', 'North Carolina ',
       'Unied States', 'Netherlands', 'germany', 'Europe', 'Earth', 'U S',
       'u.s.', 'U.K. ', 'Costa Rica', 'The United States of America',
       'unite states', 'U.S.', '46', 'cascadia', 'Australia',
       'insanity lately', 'Greece', 'USA? Hard to tell anymore..',
       "'merica", 'usas', 'Pittsburgh', '45', 'United State', '32',
       'France', 'australia', 'A', 'Can', 'Canae', 'New York',
       'Trumpistan', 'Ireland', 'United Sates', 'Korea', 'California',
       'Japan', 'USa', 'South africa',
       'I pretend to be from Canada, but I am really from the United States.',
       'Usa ', 'Uk', 'Iceland', 'Germany', 'Canada`', 'Scotland', 'UK ',
       'Denmark', 'United Stated', 'France ', 'Switzerland',
       'Ahem....Amerca', 'UD', 'Scotland ', 'South Korea', 'New Jersey',
       'CANADA', 'Indonesia', 'United ststes', 'America',
       'The Netherlands', 'United Statss', 'endland', 'Atlantis',
       'murrika', 'USA! USA! USA!', 'USAA', 'Alaska', 'united States ',
       'soviet canuckistan', 'N. America', 'Singapore', 'USSA', 'China',
       'Taiwan', 'Ireland ', 'hong kong', 'spain', 'Sweden', 'Hong Kong',
       'U.S. ', 'Narnia', 'u s a', 'United Statea', 'united ststes', '1',
       'subscribe to dm4uz3 on youtube', 'United kingdom',
       'USA USA USA!!!!', "I don't know anymore", 'Fear and Loathing'],
      dtype=object)

In [19]:
data["Q4: COUNTRY"] = data["Q4: COUNTRY"].str.strip()
data["Q4: COUNTRY"] = data["Q4: COUNTRY"].str.upper()

In [20]:
data["Q4: COUNTRY"].value_counts()

USA                                                                     1130
UNITED STATES                                                            592
CANADA                                                                   224
US                                                                       182
UNITED STATES OF AMERICA                                                  73
UK                                                                        18
UNITED KINGDOM                                                            14
U.S.                                                                      12
GERMANY                                                                   10
U.S.A.                                                                     8
AUSTRALIA                                                                  7
AMERICA                                                                    6
NETHERLANDS                                                                6
JAPAN                                                                      5
SCOTLAND                                                                   5
IRELAND                                                                    4
US OF A                                                                    4
MEXICO                                                                     4
UNITES STATES                                                              4
FRANCE                                                                     3
SWITZERLAND                                                                3
UNITED STATED                                                              2
CHINA                                                                      2
SWEDEN                                                                     2
DENMARK                                                                    2
THE UNITED STATES                                                          2
HONG KONG                                                                  2
UNITED STATE                                                               2
UNITED STSTES                                                              2
32                                                                         1
UNHINGED STATES                                                            1
THE UNITED STATES OF AMERICA                                               1
CANAE                                                                      1
UAE                                                                        1
INDONESIA                                                                  1
UNITED STATEA                                                              1
UNIED STATES                                                               1
U.K.                                                                       1
USSA                                                                       1
TRUMPISTAN                                                                 1
EARTH                                                                      1
SPAIN                                                                      1
A                                                                          1
SOVIET CANUCKISTAN                                                         1
USAS                                                                       1
NEW JERSEY                                                                 1
I PRETEND TO BE FROM CANADA, BUT I AM REALLY FROM THE UNITED STATES.       1
U S A                                                                      1
UNITED STAES                                                               1
AHEM....AMERCA                                                             1
THE NETHERLANDS                                                            1
1                                                                          1
PITTSBURGH                                                                 1
ATLANTIS                                                                   1
I DON'T KNOW ANYMORE                                                       1
ENGLAND                                                                    1
U S                                                                        1
KOREA                                                                      1
GREECE                                                                     1
USA? HARD TO TELL ANYMORE..                                                1
CAN                                                                        1
ALASKA                                                                     1
INSANITY LATELY                                                            1
UNITED SATES                                                               1
MURICA                                                                     1
FEAR AND LOATHING                                                          1
CASCADIA                                                                   1
ENDLAND                                                                    1
TAIWAN                                                                     1
FINLAND                                                                    1
CALIFORNIA                                                                 1
N. AMERICA                                                                 1
UNITED STATSS                                                              1
UD                                                                         1
SUBSCRIBE TO DM4UZ3 ON YOUTUBE                                             1
NEW YORK                                                                   1
SOUTH AFRICA                                                               1
46                                                                         1
ICELAND                                                                    1
USA! USA! USA!                                                             1
EUROPE                                                                     1
45                                                                         1
'MERICA                                                                    1
NORTH CAROLINA                                                             1
MURRIKA                                                                    1
USA USA USA!!!!                                                            1
SINGAPORE                                                                  1
USAUSAUSA                                                                  1
UNITE STATES                                                               1
COSTA RICA                                                                 1
CANADA`                                                                    1
35                                                                         1
USAA                                                                       1
NARNIA                                                                     1
SOUTH KOREA                                                                1
Name: Q4: COUNTRY, dtype: int64

In [21]:
x = []
countries = ['USA','CANADA','UK','UAE','ENGLAND','MEXICO','FRANCE','FINLAND','NORTH CAROLINA','NETHERLANDS','GERMANY','TAIWAN' , 'UNITED STATES']
for country in countries:
    matches = process.extract(country, data['Q4: COUNTRY'], limit = data.shape[0])
    for potential_match in matches:
        if (potential_match[1] >= 70):
            data.loc[data['Q4: COUNTRY'] == potential_match[0],'Q4: COUNTRY'] = country

In [22]:
USA_Names = ['UNITED STATES' ,'US OF A' , 'N. AMERICA' ,'MURICA' ,'MURRIKA' ,'USA? HARD TO TELL ANYMORE..' ,'NEW JERSEY' , 'AHEM....AMERCA' , "'MERICA" , 'CALIFORNIA' ,'TRUMPISTAN']
Non_Country_Names = ['INSANITY LATELY' , '32' , 'EARTH' , '46' , 'FEAR AND LOATHING' ,'NARNIA' , 'SUBSCRIBE TO DM4UZ3 ON YOUTUBE' ,'45' , '1' ,'35','EUROPE' , "I DON'T KNOW ANYMORE" , 'SOVIET CANUCKISTAN']

for x in USA_Names:
    data['Q4: COUNTRY'].replace(x , 'USA',inplace=True)


for y in Non_Country_Names:
    data['Q4: COUNTRY'].replace(y , np.nan,inplace=True)
    
data['Q4: COUNTRY'].replace('UNITED KINGDOM' , 'UK',inplace=True)

In [23]:
data["Q4: COUNTRY"].unique()

array([nan, 'USA', 'CANADA', 'UK', 'UAE', 'FINLAND', 'MEXICO', 'AMERICA',
       'FRANCE', 'NORTH CAROLINA', 'NETHERLANDS', 'GERMANY', 'COSTA RICA',
       'AUSTRALIA', 'GREECE', 'PITTSBURGH', 'NEW YORK', 'KOREA', 'JAPAN',
       'SOUTH AFRICA', 'SCOTLAND', 'DENMARK', 'SWITZERLAND', 'UD',
       'SOUTH KOREA', 'INDONESIA', 'ATLANTIS', 'ALASKA', 'SINGAPORE',
       'CHINA', 'TAIWAN', 'HONG KONG', 'SPAIN', 'SWEDEN'], dtype=object)

# State

In [24]:
data['Q5: STATE, PROVINCE, COUNTY, ETC'] = data['Q5: STATE, PROVINCE, COUNTY, ETC'].str.strip()
data['Q5: STATE, PROVINCE, COUNTY, ETC'] = data['Q5: STATE, PROVINCE, COUNTY, ETC'].str.upper()

In [25]:
len(data['Q5: STATE, PROVINCE, COUNTY, ETC'].unique())

332

# Multiple choices questions

In [26]:
for Col_Name in data.loc[:,'Q6 | 100 Grand Bar':'Q12: MEDIA [Science]'] :
    data[Col_Name] = data[Col_Name].astype("category")
    data[Col_Name].fillna(data[Col_Name].mode()[0], inplace=True)